
@{ 
    ViewBag.Title = "Login";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Content/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    
    
    <title>Login Inacap</title>
</head>
<body>
    <!-- FORMULARIO RESPONSIVE DESIGN CRISTHIAN MAHECHA [^^] -->
    <!-- FONDO BURBUJA -->
    <div class="burbuja">
        <div class="burbuja2"></div>
    </div>
    <!-- FORMULARIO -->
    <div class="container">
        <div class="container-center">
            <!-- ABRE CONTAINER FLEX -->
            <div class="container-flex">
                <div class="form">
                    <!-- TITULO FORM -->
                    <div class="form-title">
                        
                        <div class="title-infy">
                            <img src="~/Content/assets/img/logo.png" alt="infy" width="18%">
                            <br />
                            <h1 class="infy">Inacap</h1>
                        </div>
                        <p>Inicia sesión!</p>
                    </div>
                    <!-- FORMULARIO FORM/INPUTS -->
                    <form method="POST">
                        <div class="inputs">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Ingresa tu correo">
                        </div>
                        <div class="inputs">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Contraseña">
                        </div>
                        <input type="submit" value="Iniciar sesión" class="boton">
                    </form>
                    <div>
                        <p>No estas Registrado? <a href="#">Registrate Ahora</a></p>
                        <p>O Sigue Nuestras Redes Sociales</p>
                        
                    </div>
                    <!-- REDES SOCIALES -->
                    <ul>
                        <li>
                            <div class="red">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="red">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="red">
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="red">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- CIERRA CONTAINER FORMULARIO -->
                <!-- TEXTO FORMULARIO -->
                <div class="container-formText">
                    <div class="formText">
                        
                        <h2>Inacap</h2>
                        <p>INACAP, julio de 2019. La Universidad Tecnológica de Chile INACAP, a través de su Área Informática y Telecomunicaciones, firmó un convenio de colaboración con el Consorcio Internacional de Certificación de Seguridad de Sistemas de Información</p>
                    </div>
                </div>
                <!-- CIERRE TEXTO FORMULARIO -->
            </div>
            <!-- CIERRE CONTAINER FLEX -->
        </div>
    </div>
</body>


