
@{
    ViewBag.Title = "Registro";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Content/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <title>Registro Inacap</title>
</head>
<body>
    <!-- FORMULARIO RESPONSIVE DESIGN CRISTHIAN MAHECHA [^^] -->
    <!-- FONDO BURBUJA -->
    <div class="burbuja">
        <div class="burbuja2"></div>
    </div>
    <!-- FORMULARIO -->
    <div class="container">
        <div class="container-center">
            <!-- ABRE CONTAINER FLEX -->
            <div class="container-flex">
                <div class="form">
                    <!-- TITULO FORM -->
                    <div class="form-title">

                        <div class="title-infy">
                            <img src="~/Content/assets/img/logo.png" alt="infy" width="10%">
                            <br />
                            <h1 class="infy">Inacap</h1>
                        </div>
                        
                    </div>
                    <!-- FORMULARIO FORM/INPUTS -->
                    <form method="POST">
                        <div class="inputs">
                            <i class="fas fa-user-circle"></i>
                            <input type="text" placeholder="Nombres">
                        </div>

                        <div class="inputs">
                            <i class="fas fa-user-circle"></i>
                            <input type="text" placeholder="Apellidos">
                        </div>

                        <div class="inputs">
                            <i class="fas fa-phone"></i>
                            <input type="tel" placeholder="Telefono">
                        </div>

                        <div class="inputs">
                            <i class="fas fa-id-card"></i>
                            <input type="text" placeholder="Rut">
                        </div>


                        <div class="inputs">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Correo">
                        </div>

                        <div class="inputs">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Ingresa una Contraseña">
                        </div>
                        <div class="inputs">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Repite la Contraseña">
                        </div>





                        <input type="submit" value="Registrate Gratis" class="boton">
                    </form>
                    <div>
                        <p>Ya estas Registrado? <a href="#">Inicia Sesión</a></p>
                        

                    </div>
                    <!-- REDES SOCIALES -->
                   
                </div>
                <!-- CIERRA CONTAINER FORMULARIO -->
                <!-- TEXTO FORMULARIO -->
                <div class="container-formText">
                    <div class="formText">

                        <h2>Inacap</h2>
                        <p>INACAP, julio de 2019. La Universidad Tecnológica de Chile INACAP, a través de su Área Informática y Telecomunicaciones, firmó un convenio de colaboración con el Consorcio Internacional de Certificación de Seguridad de Sistemas de Información</p>
                    </div>
                </div>
                <!-- CIERRE TEXTO FORMULARIO -->
            </div>
            <!-- CIERRE CONTAINER FLEX -->
        </div>
    </div>
</body>

